body{
    background-color: rgb(239, 240, 241);
    font-family: 'Times New Roman', serif;
    margin: 20px;
    padding: 20px;
}
h1{
    text-align: center;
    color: rgb(26, 7, 7);
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.contact{
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}
b{
    font-weight: bold;
    color: rgb(0,0,0);
    text-align: right;
    font-size: 15px;
    line-height: 1.5;
    padding: 5px;
}
li{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.5;
}
.project, .edu, .skills{
    margin-bottom: 30px;
}
h2{
    color: rgb(12, 3, 3);
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}   
h3{
    color: rgb(12, 3, 3);
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}  
h4{
    color: rgb(12, 3, 3);
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
p{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}   
ul{
    list-style-type: disc;
    margin-left: 1px;
}
hr{
    border:0 px solid #000000;
    height:2 px;
}
